@layer components {
  .list-ul {
    @apply list-none space-y-4 text-lg;
  }

  .list-ol {
    @apply list-inside list-decimal space-y-4 text-lg marker:font-black marker:text-primary-400 dark:marker:text-primary-500;
  }

  .list-li-unordered {
    @apply flex items-start gap-4;
  }

  .list-li-ordered {
    @apply pl-2;
  }

  .list-marker-container {
    @apply mt-1 flex h-6 w-6 flex-shrink-0 items-center justify-center transition-all;
  }

  .list-marker-check {
    @apply text-lg text-primary-400 dark:text-primary-500;
  }

  .list-marker-circle {
    @apply h-3.5 w-3.5 rounded-full bg-primary-500 shadow-sm dark:bg-primary-400;
  }

  .list-marker-square {
    @apply h-3.5 w-3.5 rounded-[1px] bg-primary-500 shadow-sm dark:bg-primary-400;
  }

  .list-marker-diamond {
    @apply h-3 w-3 rotate-45 bg-primary-500 shadow-sm dark:bg-primary-400;
  }

  .list-content {
    @apply inline flex-1 font-semibold;
  }

  .list-link {
    @apply border-b border-transparent transition-all hover:border-primary-200 hover:text-primary-600 dark:hover:text-primary-400;
  }
}
