name: Linter Test

on:
  pull_request:
  push:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    # Only run linter on the main repository
    # We can not force users to satisfy our linter rules on forks with their configurations
    if: github.repository == 'Mister-Hope/portfolio-template'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Run linter
        run: |-
          pnpm lint
